
[net]
# Testing
# batch=1
# subdivisions=1
# Training
batch=64
subdivisions=16
width=608
height=608
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1

#------------ Conv2d -----------

[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=leaky

#------------ Bottleneck_1 (n = 1, t = 1) -----------

[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=16
activation=leaky

[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=1
activation=linear

[route]
layers = -1, -4

#------------ Bottleneck_2 (n = 2, t = 6) -----------

[convolutional]
batch_normalize=1
filters=144
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=2
pad=1
filters=144
activation=leaky

[convolutional]
batch_normalize=1
filters=24
size=1
stride=1
pad=1
activation=linear

[convolutional]
batch_normalize=1
filters=144
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=144
activation=leaky

[convolutional]
batch_normalize=1
filters=24
size=1
stride=1
pad=1
activation=linear

#------------ Bottleneck_3 (n = 3, t = 6) -----------

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=2
pad=1
filters=192
activation=leaky

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=192
activation=leaky

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=192
activation=leaky

# Layer 19
[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=linear

#------------ Bottleneck_4 (n = 4, t = 6) -----------

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=2
pad=1
filters=384
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=linear

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=384
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=linear

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=384
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=linear

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=384
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=linear

#------------ Bottleneck_5 (n = 3, t = 6) -----------

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=576
activation=leaky

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=linear

[route]
layers = -1, -4

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=576
activation=leaky

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=linear

[route]
layers = -1, -4

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=576
activation=leaky

# Layer 42
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=linear

[route]
layers = -1, -4

#------------ Bottleneck_6 (n = 3, t = 6) -----------

[convolutional]
batch_normalize=1
filters=960
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=2
pad=1
filters=960
activation=leaky

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=linear

[convolutional]
batch_normalize=1
filters=960
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=960
activation=leaky

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=linear

[convolutional]
batch_normalize=1
filters=960
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=960
activation=leaky

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=linear

#------------ Bottleneck_7 (n = 1, t = 6) -----------

[convolutional]
batch_normalize=1
filters=1920
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1920
activation=leaky

[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=linear

[route]
layers = -1, -4

#------------ Conv2d 1*1 -----------

[convolutional]
batch_normalize=1
filters=1280
size=1
stride=1
pad=1
activation=leaky

###### Layers for processing before YOLO #######

[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=30
activation=linear


[yolo]
mask = 6,7,8
#anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
anchors = 11,14,-3.14,  11,14,0,  11,14,3.14,  11,25,-3.14,  11,25,0,  11,25,3.14,  23,51,-3.14,  23,51,0,  23,51,3.14

classes=3
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1


[route]
layers = -4

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 42

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=30
activation=linear


[yolo]
mask = 3,4,5
#anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
anchors = 11,14,-3.14,  11,14,0,  11,14,3.14,  11,25,-3.14,  11,25,0,  11,25,3.14,  23,51,-3.14,  23,51,0,  23,51,3.14
classes=3
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1


[route]
layers = -4

[convolutional]
batch_normalize=1
filters=80
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 19


[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[dep_sep_convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=30
activation=linear


[yolo]
mask = 0,1,2
#anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
anchors = 11,14,-3.14,  11,14,0,  11,14,3.14,  11,25,-3.14,  11,25,0,  11,25,3.14,  23,51,-3.14,  23,51,0,  23,51,3.14
classes=3
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1